- return unless issuable.supports_issue_type? && can?(current_user, :create_issue, @project)

.form-group
  = form.label :type, _('Type')
  .gl-display-flex.gl-align-items-center
    .issuable-form-select-holder.selectbox.form-group.gl-mb-0
      .dropdown.js-issuable-type-filter-dropdown-wrap
        %button.dropdown-menu-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
          %span.dropdown-toggle-text.is-default
            = issuable.issue_type.capitalize || _("Select type")
          = sprite_icon('chevron-down', css_class: "dropdown-menu-toggle-icon gl-top-3")
        .dropdown-menu.dropdown-menu-selectable.dropdown-select
          .dropdown-title.gl-display-flex
            %span.gl-ml-auto
              = _("Select type")
            %button.dropdown-title-button.dropdown-menu-close.gl-ml-auto{ type: 'button', "aria-label" => _('Close') }
              = sprite_icon('close', size: 16, css_class: 'dropdown-menu-close-icon')
          .dropdown-content{ data: { testid: 'issue-type-select-dropdown' } }
            %ul
              - if create_issue_type_allowed?(@project, :issue)
                %li.js-filter-issuable-type
                  = link_to new_project_issue_path(@project), class: ("is-active" if issuable.issue?) do
                    #{sprite_icon(work_item_type_icon(:issue), css_class: 'gl-icon')} #{_('Issue')}
              - if create_issue_type_allowed?(@project, :incident)
                %li.js-filter-issuable-type{ data: { track: { action: "select_issue_type_incident", label: "select_issue_type_incident_dropdown_option" } } }
                  = link_to new_project_issue_path(@project, { issuable_template: 'incident', issue: { issue_type: 'incident' } }), class: ("is-active" if issuable.incident?) do
                    #{sprite_icon(work_item_type_icon(:incident), css_class: 'gl-icon')} #{_('Incident')}

    #js-type-popover

    - if issuable.incident?
      %p.form-text.text-muted
        - incident_docs_url = help_page_path('operations/incident_management/incidents.md')
        - incident_docs_start = format('<a href="%{url}" target="_blank" rel="noopener noreferrer">', url: incident_docs_url)
        = format(_('A %{incident_docs_start}modified issue%{incident_docs_end} to guide the resolution of incidents.'), incident_docs_start: incident_docs_start, incident_docs_end: '</a>').html_safe
